<section style="margin-bottom: 30px;">
    <div class="pcontainer">
      <div class="flex items-center justify-between w-full my-4 pl-4 sm:pr-4">
        <div class="mr-6">
          <h2 class="text-3xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-10 mb-1 truncate">Fresh Veggies</h2>
          <div class="font-base tracking-tight text-gray-600">Lorem ipsum is placeholder text commonly used in the graphic.</div>
        </div>
        <div class="flex items-center">
          <button class="bg-green-400 px-5 py-2 text-sm shadow-sm font-semibold tracking-wider text-white rounded-full hover:bg-green-800">View More</button>
        </div>
      </div>
   
      <div class="flex overflow-x-auto whitespace-nowrap m-auto">
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr20">
          <div class="productcard">
            <div>
              <img class="image"
                src="https://res.cloudinary.com/redq-inc/image/upload/c_fit,q_auto:best,w_300/v1589614568/pickbazar/grocery/VeggiePlatter_ztcg0m.jpg"
                alt="" />
            </div>
            <div class="title2">
              <div>
                <b><span>Fresh vegetables</span></b>
              </div>
              <div class="row">
                <div class="mt5">
                  <label><b> Rp80.000 </b></label>
                </div>
                <div class="div-cart" >
                  <button class="cart-btn" name="button">
                    <img class="cart-icon" src="cart.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <!-- <div class="flex flex-col items-center">
          <div class="bg-white overflow-hidden rounded-lg w-full relative pb-36">
            <img
              src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
              class="absolute h-full w-full object-cover object-center"
              alt=""
            />
          </div>
          <div class="z-10 -mt-12 px-6 w-full">
            <div class="bg-white shadow-lg rounded-lg py-5 px-5">
              <span class="font-bold text-gray-800 text-lg">Geek Pizza</span>
              <div class="flex items-center justify-between">
                <div class="text-sm text-gray-600 font-light">Size : Regular</div>
                <div class="text-2xl text-red-600 font-bold">$ 8.00</div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
     
  
  </section>